<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <main>
    <!-- <img src="<%= event.performers[0].image %>" loading="lazy" alt="<%= event.short_title %>" class=" w-100 vh-100"> -->
    <div class="hero-image-container">
      <div class="blur-background"></div>
      <img src="<%= event.performers[0].image %>" loading="lazy" alt="<%= event.short_title %>" class="hero-image">
    </div>
    <h1><%= event.title %></h1>
    <p><%= event.description %></p>
 
    <section>
      <h2><% if(event.time_tbd) { %>
        <%= event.startDateFormatted %> • TBD
      <% } else { %>
        <%= event.startDateTimeFormatted %>
      <% } %></h2>
      <p class="event-venue"><%= event.venue.name %> - <%= event.venue.city %></p>
    </section>

  </main>
</body>
</html>