<div class="event-details">
  <h2 class="event-name"><%= event.title %></h2>
  <p class="event-date">
    <% if(event.time_tbd) { %>
      <%= event.startDateFormatted %>
    <% } else { %>
      <%= event.startDateTimeFormatted %>
    <% } %>
  </p>
  <p class="event-venue"><%= event.venue.name %> - <%= event.venue.city %></p>
  <p class="event-price">
    <% if (event.stats.lowest_price === null) { %>
      Free
    <% } else { %>
      From $<%= event.stats.lowest_price %>
    <% } %>
  </p>
</div>
